
* {
	background-color: #01004B;
	color: white;
}

.centered_vertical{
	width: 100%;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.centered{
	align-content: center;
	text-align: center;
}

.text_size{
	margin: 0px 0px 50px 0px;
	font-size: 3em;
}

.btn_size{
	background-color: #1D1C70;
	width: 700px;
	height: 100px;
	margin: 8px;
	border-radius: 10px;
	font-size: 3em;
}
